In [ ]:
class student():
    def __init__(self):
        print('name:','yamini')
        print('age:','23')
        print('gender:','female')
        print('course:','datascience')
    def student(self):
        print('the above details are students data')

obj2=student()

name: yamini
age: 23
gender: female
course: datascience

In [ ]:
class student():
    def __init__(self,Name,Age,Gender):

        self.N = Name
        self.A = Age
        self.G = Gender
        print('Name:',self.N )
        print('Age:',self.A)
        print('Gender:',self.G)
        print('Course:','DataScience')

    def disp(self):
        print('the above details are students data')

obj2=student('Yamini',25,'Female')

Name: Yamini
Age: 25
Gender: Female
Course: DataScience

In [ ]:
class student():
    def __init__(self,Name,Age,Gender):

        self.N = Name
        self.A = Age
        self.G = Gender


    def disp(self):
        print('The Student Details: ')
        print()
        print('Name:',self.N )
        print('Age:',self.A)
        print('Gender:',self.G)
        print('Course:','DataScience')

In [ ]:
obj2=student('Yamini',25,'Female')

In [ ]:
obj2.disp()

The Student Details:

Name: Yamini
Age: 25
Gender: Female
Course: DataScience

In [ ]:
class student():
    def __init__(self,Name,Age,Gender):

        Name1 = Name
        Age1 = Age
        Gender1 = Gender



    def disp(self):
        print('the above details are students data')
        print('Name:',Name1 )
        print('Age:',Age1)
        print('Gender:',Gender1)
        print('Course:','DataScience')

obj2=student('Yamini',25,'Female')

In [ ]:
obj2.disp()

the above details are students data

NameError: name 'Name1' is not defined

In [ ]:
class student():
    def __init__(self,Name,Age,Gender):

        Name1 = Name
        Age1 = Age
        Gender1 = Gender
        print('Name:',Name1 )
        print('Age:',Age1)
        print('Gender:',Gender1)
        print('Course:','DataScience')


    def disp(self):
        print('the above details are students data')
        print('Name:',Name1 )
        print('Age:',Age1)
        print('Gender:',Gender1)
        print('Course:','DataScience')

obj2=student('Yamini',25,'Female')

Name: Yamini
Age: 25
Gender: Female
Course: DataScience

In [ ]:
obj2.disp()

the above details are students data

NameError: name 'Name1' is not defined

In [ ]:
class student():
    def __init__(self,Name,Age,Gender):

        self.N = Name
        self.A = Age
        self.G = Gender


    def disp(self):
        print('The Student Details: ')
        print()
        print('Name:',self.N )
        print('Age:',self.A)
        print('Gender:',self.G)
        print('Course:','DataScience')

In [ ]:
obj1=student('Nick',25,'Female')
obj2=student('John',28,'Male')
obj3=student('Venn',35,'Male')
obj4=student('Polo',55,'Female')

In [ ]:
obj1.disp()

The Student Details:

Name: Nick
Age: 25
Gender: Female
Course: DataScience

In [ ]:
obj2.disp()

The Student Details:

Name: John
Age: 28
Gender: Male
Course: DataScience

In [ ]:
obj3.disp()

The Student Details:

Name: Venn
Age: 35
Gender: Male
Course: DataScience

In [ ]:
obj4.disp()

The Student Details:

Name: Polo
Age: 55
Gender: Female
Course: DataScience

In [ ]:
class rectangle:
    def __init__(self,l,b):
        self.length = l
        self.breadth = b

    def area(self):
        print('Area is:',self.length * self.breadth)

    def perimeter(self):
        print('perimeter is:',2*(self.length + self.breadth))

In [ ]:
_obj = rectangle(25,12)
_obj.area()
_obj.perimeter()

Area is: 300
perimeter is: 74

In [ ]:
_obj1 = rectangle(14.8,12.6)
_obj1.area()
_obj1.perimeter()

Area is: 186.48
perimeter is: 54.8

In [ ]:
class circle:
    def __init__(self,r):
        self.radius = r


    def area(self):
        print('Area is:',3.14*self.radius**2)

    def circumference(self):
        print('circumference is:',2*3.14*self.radius)

In [ ]:
_obj1 = circle(4)
_obj1.area()
_obj1.circumference()

Area is: 50.24
circumference is: 25.12

In [ ]:
class circle:
    def __init__(self, r):
        self.radius = r
    def area(self):
        print("Area is", 3.14*self.radius**2)
    def circumference(self):
        print("Perimeter is", 2*3.14*self.radius)
_obj3 = circle(5)
_obj3.area()
_obj3.circumference()

Area is 78.5
Perimeter is 31.400000000000002

In [ ]:
class cubiod:
    def __init__(self,l,b,h):
        self.length = l
        self.breadth = b
        self.height = h

        print('Length is:',self.length)
        print('breadth is:',self.breadth)
        print('height is:',self.height)

    def total_s_a(self):
        print('Total surface area is:',2*((self.length*self.breadth) + (self.breadth*self.height) +(self.height*self.length)))

    def volume(self):
        print('volume is:',self.length*self.breadth*self.height)

In [ ]:
_obj1 = cubiod(13,2,9)
_obj1.total_s_a()
_obj1.volume()

Length is: 13
breadth is: 2
height is: 9
Total surface area is: 322
volume is: 234

In [ ]:
_obj2 = cubiod(19,2.8,9.4)
_obj2.total_s_a()
_obj2.volume()

Length is: 19
breadth is: 2.8
height is: 9.4
Total surface area is: 516.24
volume is: 500.08

In [ ]:
class student():
    def __init__(self,Name,Age,Gender):

        self.N = Name
        self.A = Age
        self.G = Gender


    def disp(self):
        print('The Student Details: ')
        print()
        print('Name:',self.N )
        print('Age:',self.A)
        print('Gender:',self.G)

In [ ]:
N = input('Enter the Name')
A = int(input('Enter the Age'))
G = input('Enter the Gender')
S1 = student(N,A,G)
S1.disp()

Enter the NameJohn
Enter the Age25
Enter the GenderMale
The Student Details:

Name: John
Age: 25
Gender: Male

In [ ]:
class student():
    def __init__(self):

        self.N = input('Enter the Name')
        self.A = int(input('Enter the Age'))
        self.G = input('Enter the Gender')


    def disp(self):
        print('The Student Details: ')
        print()
        print('Name:',self.N )
        print('Age:',self.A)
        print('Gender:',self.G)

In [ ]:
S2 = student()

Enter the NameJohn
Enter the Age25
Enter the GenderMale

In [ ]:
S1 = student()

Enter the NameNick
Enter the Age56
Enter the GenderFemale

In [ ]:
S1.disp()

The Student Details:

Name: Nick
Age: 56
Gender: Female

In [ ]:
S2.disp()

The Student Details:

Name: John
Age: 25
Gender: Male

In [ ]:
## rectangle dynamically
class rectangle():
    def __init__(self):
        self.length = int(input('Enter the Length : '))
        self.breadth = int(input('Enter the Breadth : '))

    def area(self):
        return self.length * self.breadth

    def perimeter(self):
        return 2 * (self.length + self.breadth)

    def display(self):
        print('Length : ',self.length)
        print('Breadth : ',self.breadth)

# Create an instance of the Rectangle class
rect = rectangle()
# Calculate and print the area and perimeter of the rectangle
print('Area:', rect.area())
print('Perimeter:', rect.perimeter())

Enter the Length : 56
Enter the Breadth : 89
Area: 4984
Perimeter: 290

In [ ]:
### Cuboid dinamically
class cubiod():
    def __init__(self):
        self.length = int(input('Enter the Length : '))
        self.breadth = int(input('Enter the Breadth : '))
        self.height = int(input('Enter the Heigth : '))

    def Tsa(self):
        return 2*((self.length*self.breadth)+(self.breadth*self.height)+(self.height*self.length))

    def Volume(self):
        return self.length*self.breadth*self.height

    def display(self):
        print('Length : ',self.length)
        print('Breadth : ',self.breadth)
        print('Heigth : ',self.height)

c = cubiod()
c.display()
print()
print('TSA : ', c.Tsa())
print('Volumw : ', c.Volume())

Enter the Length : 6
Enter the Breadth : 9
Enter the Heigth : 12
Length :  6
Breadth :  9
Heigth :  12

TSA :  468
Volumw :  648