In [ ]:
class students1():
    def __init__(self):
        self.name1=input('enter the name:')
        self.roll_num=int(input('enter the roll number:'))
        self.maths=int(input('enter maths marks:'))
        self.physics=int(input('enter physics marks:'))
        self.english=int(input('enter english marks:'))
        self.chemistry=int(input('enter chemistry marks:'))

        print('name:',self.name1)
        print('roll_num:',self.roll_num)
        print('maths:',self.maths)
        print('physics:',self.physics)
        print('english:',self.english)
        print('chemistry:',self.chemistry)

    def average(self):
        print('the avg of marks is:',(self.maths+self.physics+self.english+self.chemistry)/4)
        print()

    def display(self):
        print('name:',self.name1)
        print('roll_num:',self.roll_num)
        print('maths:',self.maths)
        print('physics:',self.physics)
        print('english:',self.english)
        print('chemistry:',self.chemistry)

In [ ]:
s=students1()

enter the name:Nick
enter the roll number:45689
enter maths marks:96
enter physics marks:95
enter english marks:95
enter chemistry marks:87
name: Nick
roll_num: 45689
maths: 96
physics: 95
english: 95
chemistry: 87

In [ ]:
s.average()

the avg of marks is: 93.25

In [ ]:
#### Creating a class with list

class Students():

    def __init__(self,RollNo,Name,P,C,M):
        self.r = RollNo
        self.n = Name

    def disp(self):
        print("Roll No: ",self.r)
        print("Name: ",self.n)

S1 = Students(1235,'Raj',95,85,65)

In [ ]:
S1.disp()

Roll No:  1235
Name:  Raj

In [ ]:
#### Creating a class with list

class Students():
    marks = []

    def __init__(self,RollNo,Name,P,C,M):
        self.r = RollNo
        self.n = Name
        self.marks.append(P)
        self.marks.append(C)
        self.marks.append(M)

    def disp(self):
        print("Roll No: ",self.r)
        print("Name: ",self.n)
        print('Marks :',self.marks)

S1 = Students(1235,'Raj',95,85,65)

In [ ]:
S1.disp()

Roll No:  1235
Name:  Raj
Marks : [95, 85, 65]

In [ ]:
#### Creating a class with list

class Students():
    marks = []

    def __init__(self,RollNo,Name,P,C,M):
        self.r = RollNo
        self.n = Name
        self.marks.append(P)
        self.marks.append(C)
        self.marks.append(M)

    def disp(self):
        print("Roll No: ",self.r)
        print("Name: ",self.n)
        print('Marks :',self.marks)

    def Avg(self):
        print((self.marks[0]+self.marks[1]+self.marks[2])/3)

S1 = Students(1235,'Raj',95,85,65)

In [ ]:
S1.Avg()

81.66666666666667

In [ ]:
class employee:
    def __init__(self,name,age,des,sal):
        self.n = name
        self.a = age
        self.d = des
        self.s = sal

    def disp(self):
        print('Name is:',self.n)
        print('Age is:',self.a)
        print('Designation is:',self.d)
        print('Salary is:',self.s)

In [ ]:
e1 = employee('John',22,'QA',10000)
e1 = employee('John',22,'QA',10000)
e2 = employee('Bob',24,'SDE',30000)
e3 = employee('Alan',34,'SE',20000)
e4 = employee('Nick',55,'Manager',100000)

In [ ]:
e4.disp()

Name is: Nick
Age is: 55
Designation is: Manager
Salary is: 100000

In [ ]:
class employee:
    emp_count = 0
    def __init__(self,name,age,des,sal):
        self.n = name
        self.a = age
        self.d = des
        self.s = sal
        employee.emp_count+=1

    def disp(self):
        print('Name is:',self.n)
        print('Age is:',self.a)
        print('Designation is:',self.d)
        print('Salary is:',self.s)

    def count(self):
        return employee.emp_count

In [ ]:
e1 = employee('John',22,'QA',10000)
e3 = employee('Alan',34,'SE',20000)
e4 = employee('Nick',55,'Manager',100000)
e1.count()

3

In [ ]:
e1.disp()

Name is: John
Age is: 22
Designation is: QA
Salary is: 10000

In [ ]:
e2.count()

2

In [ ]:
e1.count()

2

In [ ]:
e5 = employee('Bob',24,'SDE',30000)
e3 = employee('Alan',34,'SE',20000)
e4 = employee('Nick',55,'Manager',100000)

In [ ]:
e5.disp()

Name is: Bob
Age is: 24
Designation is: SDE
Salary is: 30000

In [ ]:
e1.count()

5

In [ ]:
e6 = employee('Nick',55,'Manager',100000)

In [ ]:
e1.count()

6

In [ ]:
a=[]
for i in range(0,100):
    a.append(employee('John',22,'QA',10000))

TypeError: 'employee' object is not iterable

In [ ]:
#### Inheritance

class Vehicle:

    def __init__(self,name,color,price):
        self.name = name
        self.color = color
        self.price = price

    def disp(self):
        print(self.name,self.color,self.price)

    def max_speed(self):
        print('MaxSpeed is 150KMPH')

class Car(Vehicle):

    def change_gear(self):
        print('Car Change gear is 7')

car1 = Car('Benz','Purple',70000000)
car1.disp()
car1.max_speed()
car1.change_gear()

Benz Purple 70000000
MaxSpeed is 150KMPH
Car Change gear is 7

In [ ]:
T1 = Vehicle('Truck-X','Red',77800000)
T1.disp()
T1.max_speed()
T1.change_gear()

Truck-X Red 77800000
MaxSpeed is 150KMPH

AttributeError: 'Vehicle' object has no attribute 'change_gear'