In [40]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('data/car_data.csv')

# df.head()
df.head()

,Car ID,Symboling,Car Name,Fuel Type,Aspiration,Door Number,Car Body,Drive Wheel,Engine Location,Wheel Base,...,Engine Size,Fuel System,Bore Ratio,Stroke,Compression Ratio,Horse Power,Peak RPM,City MPG,Highway MPG,Price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [42]:
df.shape

(205, 26)

In [43]:
#df.columns
df.columns

Index(['Car ID', 'Symboling', 'Car Name', 'Fuel Type', 'Aspiration',
       'Door Number', 'Car Body', 'Drive Wheel', 'Engine Location',
       'Wheel Base', 'Car Length', 'Car Width', 'Car Height', 'Curb Weight',
       'Engine Type', 'Cylinder Number', 'Engine Size', 'Fuel System',
       'Bore Ratio', 'Stroke', 'Compression Ratio', 'Horse Power', 'Peak RPM',
       'City MPG', 'Highway MPG', 'Price'],
      dtype='object')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Car ID             205 non-null    int64
 1   Symboling          205 non-null    int64
 2   Car Name           205 non-null    object
 3   Fuel Type          205 non-null    object
 4   Aspiration         205 non-null    object
 5   Door Number        205 non-null    object
 6   Car Body           205 non-null    object
 7   Drive Wheel        205 non-null    object
 8   Engine Location    205 non-null    object
 9   Wheel Base         205 non-null    float64
 10  Car Length         205 non-null    float64
 11  Car Width          205 non-null    float64
 12  Car Height         205 non-null    float64
 13  Curb Weight        205 non-null    int64
 14  Engine Type        205 non-null    object
 15  Cylinder Number    205 non-null    object
 16  Engine Size        205 non-null    int64
 17  Fuel System        205 non-null    object
 18  Bore Ratio         205 non-null    float64
 19  Stroke             205 non-null    float64
 20  Compression Ratio  205 non-null    float64
 21  Horse Power        205 non-null    int64
 22  Peak RPM           205 non-null    object
 23  City MPG           205 non-null    int64
 24  Highway MPG        205 non-null    int64
 25  Price              205 non-null    object
dtypes: float64(7), int64(7), object(12)
memory usage: 41.8+ KB

In [45]:
# Issues with the dataframe?
# Column Names
# In this case study we will focus on Car Name, Door Number and Peak RPM.

In [46]:
#info

### Fixing Column Names

In [47]:
columns = df.columns

In [48]:
#list comprehesion . lower().replace()

new_col = [ col.lower().replace(' ', '_') for col in columns ]

In [49]:
#assign
df.columns = new_col

In [50]:
#head
df.head()

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [51]:
#info

## As a part of this case study, we will focus only on `car_name`, `door_number` and `peak_rpm`

From df.info(), it is clear that `car_name`, `door_number` and `peak_rpm` are object type without any missing values

In [52]:
#dtypes
df.dtypes

car_id                 int64
symboling              int64
car_name              object
fuel_type             object
aspiration            object
door_number           object
car_body              object
drive_wheel           object
engine_location       object
wheel_base           float64
car_length           float64
car_width            float64
car_height           float64
curb_weight            int64
engine_type           object
cylinder_number       object
engine_size            int64
fuel_system           object
bore_ratio           float64
stroke               float64
compression_ratio    float64
horse_power            int64
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

In [101]:
#carname values_counts
df.price.unique()

array(['13495', '16500', '13950', '17450', '15250', '17710', '18920',
       '23875', '17859.167', '16430', '16925', '20970', '21105', '24565',
       '30760', '41315', '36880', '5151', '6295', '6575', '5572', '6377',
       '7957', '6229', '6692', '7609', '8558', '8921', '12964', '6479',
       '6855', '5399', '6529', '7129', '7295', '7895', '9095', '8845',
       '10295', '12945', '10345', '6785', '8916.5', '11048', '32250',
       '35550', '36K', '5195', '6095', '6795', '6695', '7395', '10945',
       '11845', '13645', '15645', '8495', '10595', '10245', '10795',
       '11245', '18280', '18344', '25552', '28248', '28176', '31600',
       '34184', '35056', '40960', '45400', '16503', '5389', '6189',
       '6669', '7689', '9959', '8499', '12629', '14869', '14489', '6989',
       '8189', '9279', '5499', '7099', '6649', '6849', '7349', '7299',
       '7799', '7499', '7999', '8249', '8949', '9549', '13499', '14399',
       '17199', '19699', '18399', '11900', '13200', '12440', '13860',
       '15580', '16900', '16695', '17075', '16630', '17950', '18150',
       '12764', '22018', '32528', '34028', '37028', '31400.5', '9295',
       '9895', '11850', '12170', '15040', '15510', '18620', '5118',
       '7053', '7603', '7126', '7775', '9960', '9233', '11259', '7463',
       '10198', '8013', '11694', '5348', '6338', '6488', '6918', '7898',
       '8778', '6938', '7198', '7788', '7738', '8358', '9258', '8058',
       '8238', '9298', '9538', '8449', '9639', '9989', '11199', '11549',
       '17669', '8948', '10698', '9988', '10898', '11248', '16558',
       '15998', '15690', '15750', '7975', '7995', '8195', '9495', '9995',
       '11595', '9980', '13295', '13845', '12290', '12940', '13415',
       '15985', '16515', '18420', '18950', '16845', '19045', '21485',
       '22470', '22625'], dtype=object)

In [54]:
#door number values_counts
df.door_number.value_counts()

four    114
two      90
?         1
Name: door_number, dtype: int64

In [55]:
#peak rpm values_counts
df.peak_rpm.value_counts()

5500     36
4800     36
5K       27
5200     21
5400     10
6K        9
4500      7
5250      7
5800      7
5100      5
4150      5
4200      5
4750      4
4350      4
5,400     3
4250      3
5900      3
4400      3
5,200     2
6600      2
4900      1
5,500     1
5750      1
5600      1
4650      1
5300      1
Name: peak_rpm, dtype: int64

**Observations**

- `car_name` is a categorical column with 147 categories of cars
- It looks like `door_number` is containing one missing value 
- `peak_rpm` looks like an integer column with some abnormalities.

## Fixing `door_number` column

**Posible Fixes**
- Handle the missing value
- Possibility to conver to integer column

#### Crosstab - It compares the index and columns which yields the count

In [56]:
# df.columns

In [57]:
#crosstab of door number and car body
pd.crosstab(df['door_number'], df['car_body'])

car_body     convertible  hardtop  hatchback  sedan  wagon
door_number
?                      0        0          0      0      1
four                   0        0         10     80     24
two                    6        8         60     16      0

In [58]:
#crosstab of door number and fuel type
pd.crosstab(df['door_number'], df['fuel_type'])

fuel_type    diesel  gas
door_number
?                 0    1
four             17   97
two               3   87

In [59]:
#crosstab of door number and drive wheel
pd.crosstab(df['door_number'], df['drive_wheel'])

drive_wheel  4wd  fwd  rwd
door_number
?              0    1    0
four           7   68   39
two            2   51   37

In [60]:
#crosstab of door number and engine location
pd.crosstab(df['door_number'], df['engine_location'])

engine_location  front  rear
door_number
?                    1     0
four               114     0
two                 87     3

#### Replace
replace the ? to four

In [61]:
# df.replace(to_replace='old', value='new', regex=False, inplace=True)
# df.replace(to_replace=r'regex', value='new', regex=True, inplace=True)

df.replace(to_replace = '?', value = 'four', regex= False, inplace= True)

In [62]:
# door number value count
df.door_number.value_counts()

four    115
two      90
Name: door_number, dtype: int64

In [63]:
#head

### turn door number to int

In [67]:
# df['door_number'].replace(to_replace='four', value='4', regex=False, inplace=True)
# df['door_number'].replace(to_replace='two', value='2', regex=False, inplace=True)


## apply() lamda on door number column with if else ... ( hint in else=2)

df['door_number'] = df.door_number.apply(lambda x: 4 if x == 'four' else 2)

In [68]:
# value count on door number
df.door_number.value_counts()

4    115
2     90
Name: door_number, dtype: int64

In [ ]:
#head

In [69]:
# change the type of the column

# df.col_name.astype('int')
df.door_number.astype('int')

0      2
1      2
2      2
3      4
4      4
      ..
200    4
201    4
202    4
203    4
204    4
Name: door_number, Length: 205, dtype: int32

In [73]:
#df.info() to check the type
df.dtypes

car_id                 int64
symboling              int64
car_name              object
fuel_type             object
aspiration            object
door_number            int64
car_body              object
drive_wheel           object
engine_location       object
wheel_base           float64
car_length           float64
car_width            float64
car_height           float64
curb_weight            int64
engine_type           object
cylinder_number       object
engine_size            int64
fuel_system           object
bore_ratio           float64
stroke               float64
compression_ratio    float64
horse_power            int64
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

## Fixing `peak_rpm`

**Posible Fixes**
- `5K` should be replaced with `5000`
- `5,500` should be replaced with `5500`
- Convert to numerical column

In [86]:
# if k replace k with '', typecast to int and multiply by 1000, if ,  replace , to '' else return int of x
df['peak_rpm'] = df.peak_rpm.apply(lambda x: int(x.replace('K', '')) * 1000 if 'K' in x else int(x.replace(',','')))

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id             205 non-null    int64
 1   symboling          205 non-null    int64
 2   car_name           205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   door_number        205 non-null    int64
 6   car_body           205 non-null    object
 7   drive_wheel        205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  car_length         205 non-null    float64
 11  car_width          205 non-null    float64
 12  car_height         205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  cylinder_number    205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore_ratio         205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horse_power        205 non-null    int64
 22  peak_rpm           205 non-null    int64
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(7), int64(9), object(10)
memory usage: 41.8+ KB

In [88]:
# df.col_name.astype('int')
df.peak_rpm.astype('int')

0      5000
1      5000
2      5000
3      5500
4      5500
       ...
200    5400
201    5300
202    5500
203    4800
204    5400
Name: peak_rpm, Length: 205, dtype: int32

In [ ]:
#df.info()

## Fixing `car_name`

**Posible Fixes**
- Extract Company Name from car name
- Observe problems in Company Names

In [ ]:
#head

In [ ]:
# df.car_name

In [90]:
# apply lamda . return split, 0th index, new column of car company

df['car_brand'] = df.car_name.apply(lambda x: x.split(' ')[0])

In [92]:
# value count of car company
df.car_brand.value_counts()

toyota         31
nissan         17
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
volkswagen      9
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
alfa-romero     3
chevrolet       3
jaguar          3
vw              2
maxda           2
renault         2
toyouta         1
vokswagen       1
Nissan          1
mercury         1
porcshce        1
Name: car_brand, dtype: int64

**Observations**

Notice that some **car_company names are misspelled**  
- vw and vokswagen should be volkswagen 
- porcshce should be porsche 
- toyouta should be toyota
- Nissan should be nissan 
- maxda should be mazda

This is a data quality issue, let's solve it.

In [96]:
# replacing misspelled car_company names using loc

# df.loc[(df['col_name'] == 'wrong value') | (df['col_name'] == ''wrong value''), col_name] = 'right value'

# volkswagen
df.loc[(df['car_brand'] == 'vw') | (df['car_brand']== 'vokswagen'), 'car_brand' ] = 'volkswagen'

# porsche
df.loc[(df['car_brand'] == 'porcshce'), 'car_brand' ] = 'porsche'

# toyota
df.loc[(df['car_brand'] == 'toyouta'), 'car_brand' ] = 'toyota'

# nissan
df.loc[(df['car_brand'] == 'Nissan'), 'car_brand' ] = 'nissan'

# mazda
df.loc[(df['car_brand'] == 'maxda'), 'car_brand' ] = 'mazda'

In [97]:
# value count in car company
df.car_brand.value_counts()

toyota         32
nissan         18
mazda          17
mitsubishi     13
honda          13
volkswagen     12
subaru         12
peugeot        11
volvo          11
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
porsche         5
isuzu           4
jaguar          3
chevrolet       3
alfa-romero     3
renault         2
mercury         1
Name: car_brand, dtype: int64

#### Dropping a column

In [27]:
# crop car_name column

## Filtering Categorical and Numerical Columns

In [30]:
# df.select_dtypes(include=['data type'])
# try object, int, float64

## Can you fix the Price Column?

In [ ]:
df.info()